[mat-dialog-title] {
    padding: 1.5rem 1.5rem 0.5rem;
    font-weight: 500;
}

[mat-dialog-content] {
    padding: 1rem 1.5rem;
}

[mat-dialog-actions] {
    padding: 0.5rem 1.5rem 1.5rem;
    gap: 0.5rem;
}

.w-full {
    width: 100%;
}