<header class="header bg-background-light dark:bg-background-dark transition-colors duration-200">
    <div class="logo text-text-light dark:text-text-dark">Visual Forge</div>

    <nav class="nav-links">
        <a routerLink="/user" class="text-text-light dark:text-text-dark">Home</a>
        <a routerLink="/user/works" class="text-text-light dark:text-text-dark">Works</a>
        <a routerLink="/user/quotations" class="text-text-light dark:text-text-dark">Quotations</a>
        <a *ngIf="userRole === 'Editor'" routerLink="/editor/published-quotations" class="text-text-light dark:text-text-dark">Find Quotations</a>
        <a routerLink="/user/support" class="text-text-light dark:text-text-dark">Support</a>
    </nav>

    <div class="header-actions">
        <div class="icon-button text-text-light dark:text-text-dark">
            <mat-icon>search</mat-icon>
        </div>
        <ng-container *ngIf="isAuthenticated">
            <div [routerLink]="['/user/messaging']" class="icon-button">
                <mat-icon>chat</mat-icon>
            </div>
            <div [routerLink]="['/user/profile']" class="icon-button">
                <mat-icon>person</mat-icon>
            </div>
            <div *ngIf="userRole === 'Editor'" class="icon-button">
                <mat-icon>groups</mat-icon>
            </div>
        </ng-container>
        <button (click)="themeService.toggleTheme()"
            class="icon-button p-2 rounded-lg bg-gray-500 dark:bg-gray-700 text-text-light dark:text-text-dark">
            <span *ngIf="themeService.isUserDarkTheme$ | async; else lightIcon">🌞</span>
            <ng-template #lightIcon>🌙</ng-template>
        </button>
        <div *ngIf="!isAuthenticated" class="auth-buttons">
            <a routerLink="/auth/login" class="btn btn-signin bg-primary-light dark:bg-primary-dark text-white">Sign in</a>
            <a routerLink="/auth/register" class="btn btn-signup border-2 border-primary-light dark:border-primary-dark text-text-light dark:text-text-dark">Sign up</a>
        </div>
        <button *ngIf="isAuthenticated" (click)="logout()" class="icon-button">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</header>