.admin-container {
  display: flex;
  width: 100%;
  background-color: var(--admin-content-background);
  // min-height: 100vh;
  // overflow: hidden;
}

.admin-content {
  flex: 1;
  overflow-y: auto;
}