/* You can add global styles to this file, and also import other style files */
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@layer base {
  :root {
    --color-primary: theme('colors.primary.light');
    --color-background: theme('colors.background.light');
    --color-text: theme('colors.text.light');
    --color-secondary-100: theme('colors.secondary.100');
    --color-secondary-200: theme('colors.secondary.200');
    --color-secondary-300: theme('colors.secondary.300');
    --color-secondary-400: theme('colors.secondary.400');
    --color-secondary-500: theme('colors.secondary.500');
    --color-neutral-100: theme('colors.neutral.100');
    --color-neutral-200: theme('colors.neutral.200');
    --color-neutral-300: theme('colors.neutral.300');
    --color-neutral-400: theme('colors.neutral.400');
    --color-neutral-500: theme('colors.neutral.500');
    --color-neutral-600: theme('colors.neutral.600');
    --color-neutral-700: theme('colors.neutral.700');

    // Admin Theme colours
    --admin-color-primary: theme('colors.admin.primary.light');
    --admin-color-secondary: theme('colors.admin.secondary.light');
    --admin-color-text: theme('colors.admin.text.light');
    --admin-color-background: theme('colors.admin.background.light');
    --admin-color-surface: theme('colors.admin.surface.light');
    --admin-color-border: theme('colors.admin.border.light');
  }

  .dark {
    --color-primary: theme('colors.primary.dark');
    --color-background: theme('colors.background.dark');
    --color-text: theme('colors.text.dark');
  }

  .admin-dark {
    --admin-color-primary: theme('colors.admin.primary.dark');
    --admin-color-secondary: theme('colors.admin.secondary.dark');
    --admin-color-text: theme('colors.admin.text.dark');
    --admin-color-background: theme('colors.admin.background.dark');
    --admin-color-surface: theme('colors.admin.surface.dark');
    --admin-color-border: theme('colors.admin.border.dark');
  }
}